{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
<h2>ПРИВЕТСТВИЕ</h2>
Здравствуйте! Спасибо, что посетили этот сайт! На неём Вы, быть может, узнаете что-то новое о лесных пожарах и 
совершенно точно сможете ознакомиться с представленной моделью. Удачи!
<br>
<br>
<h2>О ПРОЕКТЕ</h2>
<p>
    Лес - лёгкие нашей планеты. Именно растения даруют нам кислород, обеспечивающий клетки энергией для жизнедеятельности.
    В настоящее время лесные пожары - острая проблема, которая затрагивает не только мир животных, но и человеческий.
    Лесными массивами покрыто более 30 процетов суши Земли. Они встречаются на всех континентах за исключенем Антарктиды. 
</p>
<br>
<p>
    Ежегодно в России регистрируется от 9 тыс. до 35 тыс. лесных пожаров, охватывающих площади от 500
    тыс. до 3,5 млн га. Согласно данным МЧС России и Рослесхоза, всего с начала 1992 года по конец 2021 года в России
    зарегистрировано порядка 635 тыс. лесных пожаров, то есть затронувших земли лесного фонда.
</p>
<br>
<p>
    В вычислительной науке давно распространена задача, связанная с <em>моделированием лесных пожаров</em> с целью
    понимания и прогнозирования их поведения.
    Моделирование подобного рода пожаров может в конечном итоге помочь в их тушении, а именно повысить безопасность
    пожарных и населения, снизить риск и свести к минимуму материальный ущерб.
    Моделирование лесных пожаров также может помочь в защите экосистем, водоразделов и качества воздуха.
</p>
<br>
<p>
    Ознакомиться с упрощённой моделью распространения лесного пожара вы можете во вкладке <em>Модель</em>. 
</p>
{{end}}