{{template "base" .}}

{{define "title"}}Модель пожара{{end}}

{{define "main"}}
<img id='deciduous_tree' src='/static/img/deciduous_tree.svg' style='display:none;' />
<img id='fir' src='/static/img/fir.svg' style='display:none;' />
<img id='fire' src='/static/img/fire_3.svg' style='display:none;' />
<img id='burnt_tree' src='/static/img/burnt_tree.svg' style='display:none;' />
<img id='grass' src='/static/img/grass_2.svg' style='display:none;' />

<h2>Модель</h2>
<h3>Заполните все поля и пускайте молнии в понравившиеся места</h3>
<label for="windSpeed">Скорость ветра:</label>
<input type="number" min="0" max="100" value="12" step="1" required id="windSpeed"> м/c
</p>
<!--Выбор строны света-->
<label for="windDirection">Направление ветра: </label>
<input type="radio" name="windDirection" id="windDirectionNorth" checked>
<label for="windDirectionNorth">Север</label>
<input type="radio" name="windDirection" id="windDirectionEast" value="fff">
<label for="windDirectionEast">Восток</label>
<input type="radio" name="windDirection" id="windDirectionSouth">
<label for="windDirectionSouth">Юг</label>
<input type="radio" name="windDirection" id="windDirectionWest">
<label for="windDirectionWest">Запад</label>
</p>
<!--Влажность-->
<label for="airHumidity">Влажность воздуха: </label>
<input type="number" min="0" max="100" value="43" step="1" required id="airHumidity"> %
</p>
<!--Температура-->
<label for="temperature">Температура воздуха: </label>
<input type="number" min="-100" max="100" value="29" step="1" required id="temperature"> °С
</p>
<!--Осадки-->
<label for="atmosphericPrecipitation">Атмосферные осадки: </label>
<input type="number" min="0" max="100" value="0" step="1" required id="atmosphericPrecipitation"> мм
</p>
<button id="plantTree">Посадить лиственное дерево</button>
</p>
<button id="firTree">Посадить хвойное дерево</button>
</p>
<button id="grassPlant">Посадить траву</button>
</p>
<button id="pourWater">Налить озерцо</button>
</p>
<button id="weatherButton">Принять погоду и запустить</button>
<br>
Показатель пожарной опасности <h2 id="fireCoef"></h2>
Класс опасности <h2 id="fireClass"></h2>
<canvas id="grid">Ваш браузер не поддерживает Canvas</canvas>

<script type="text/javascript" src="/static/js/forest_fire.js"></script>
<script type="text/javascript" src="/static/js/grid_2.js"></script>
{{end}}